/*
	===============================
			@Import	Function
	===============================
*/
/*
	===============================
			@Import	Mixins
	===============================
*/
.dt-buttons .dt-button {
  color: #fff !important;
  background-color: #1b55e2 !important;
  border-color: #1b55e2;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-right: 5px; }

  .buttons-copy{
    background-color: #735ee9;
    border: 1px solid #735ee9;
  }

  .buttons-excel {
    background-color: #735ee9;
    border: 1px solid #735ee9;
  }  

  
  .buttons-pdf{
    background-color: #735ee9;
    border: 1px solid #735ee9;
  }
  